.insertar-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Estilos específicos para los ComboBox */
  select {
    height: 40px;
  }
  
  /* Estilos específicos para los campos de descripción */
  textarea {
    height: 100px;
  }
  
  /* Estilos para mostrar u ocultar los campos de logactividad y loghabitacion */
  .log-fields {
    display: none;
  }
  
  .log-fields.active {
    display: block;
  }