body {
  background-color: #F5EFEF; /* Cambia el color de fondo a tu preferencia */
  font-family: Arial, sans-serif; /* Cambia el tipo de letra a tu preferencia */
}

/* Estilo de los encabezados h1 y h2 */
h1, h2 {
  color: #2E2E2E; /* Cambia el color del texto a tu preferencia */
}

ul {
  display: flex;
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
  padding: 10px;
  background-color: #eee;
  border: 1px solid #ccc;
  flex-grow: 1;
  text-align: center;
  font-size: 18px;
}

li:hover {
  background-color: #ddd;
}

.active {
  background-color: #2196f3;
  color: #fff;
}
/* Estilos para el contenido de las pestañas */
.content {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f8f9fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

select:focus {
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
}